apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: autorepair
  labels:
    app: autorepair
    component: database
spec:
  type: ClusterIP
  selector:
    app: autorepair
    component: database
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
      protocol: TCP
